.tender-details{
    background: var(--color-paper);
    background: radial-gradient(circle at top right, var(--color-paper) 0%,white 20%,white 100%);
    border-radius: 10px;
    box-shadow: rgb(200, 200, 200) 0px 0px 3px 0.05px ;
    transition: all ease-in-out 300ms;
    font-family: var(--tajawal-font-family);
    overflow: hidden;
    cursor: pointer;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.tender-details-header{
    color: var(--color-paper);
    padding: 10px;   
    border-bottom: 1px var(--color-border) solid ;
    font-family: var(--amiri-font-family);
    font-weight : normal;
    background: radial-gradient(circle at top right, var(--color-gold) 0%,var(--color-primary-light) 50%, var(--color-primary-light)100%);
    background-position-x:left;
    background-size: 500%;
    transition: all ease-in-out 700ms;
    font-size: medium;
}

.tender-details-contentt{
    overflow: auto;
}

.tender-details-title{
    padding: 10px;
}

.tender-details-title .title{
    color: var(--color-primary);
    font-size: larger;
    font-weight: bold;
}

.tender-details-title .agency{
    color: var(--color-gold);
    display: flex;
    padding : 5px 0px
}

.tender-details-statistics{
    padding: 10px;
    display: flex;
    gap: 15px;
}

.tender-details-statistics .statistic{
    padding: 10px;
    background: radial-gradient(circle at top right, var(--color-paper) -50%,rgb(var(--color-cream-code)) 50%,rgb(var(--color-cream-code)) 100%);
    border-radius: 10px;
    color: var(--color-primary);
    /* border : black 1px solid; */
    /* box-shadow: rgb(var(--color-primary-light-code)/0.1) 0px 0px 2px 1px ; */
    box-shadow: rgb(var(--color-primary-light-code)) 0px 0px 0px 1px ; 
}

.tender-details-accordion{
    padding: 15px 10px;
    row-gap: 10px;
}

.tender-details-accordion [data-slot="accordion-item"]{
    box-shadow: rgb(var(--color-primary-light-code)/0.2) 0px 2px 2px 0.1px;
    padding: 0px 10px;
    border-radius: 10px;
}

.tender-details-accordion [data-slot="accordion-trigger"]{
    direction: ltr;
    display: flex;
    column-gap: 5px;
    justify-content: end;
    font-weight: bold;
    color: var(--color-primary);
}

.tender-details-dates{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.tender-details-date{
    min-width: 200px;
    padding: 15px 5px;
    width: 30%;
}

.tender-details-footer{
    padding: 10px;
    color: var(--color-text-muted);
}

.tender-details-footer .e3tmad-link{
    background:  radial-gradient(circle at top right, white -100%,var(--color-gold) 50%, var(--color-gold) 100%);
    background-size: 200% ;
    background-position: left;
    padding: 5px 30px;
    border-radius: 15px;

    color: var(--color-cream);
    transition: all ease-in-out 300ms;
}

.e3tmad-link:hover{
    background-position: right;
    color: var(--color-paper);
}