@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@300;400;500;600;700;800&family=IBM+Plex+Sans+Arabic:wght@300;400;500;600;700&family=IBM+Plex+Mono:wght@400;500&display=swap');

:root{
    --color-primary: #1a472a;
    --color-primary-light: #2d5a3d;
    --color-primary-dark: #0f2817;
    --color-gold: #af8a0e;
    --color-gold-light: #e6c556;
    --color-cream: #f8f5f0;
    --color-paper: #fffef9;
    --color-text-dark: #1a1a1a;
    --color-text-muted: #5a5a5a;
    --color-border: #d4cfc5;
    --color-error: #c0392b;
    --color-alert: #eeee11;
    --color-success: #009900;
    --tw-ring-color: #990707;
    --shadow-color:#d4cfc5;

    --color-primary-code: 26 71 42;
    --color-primary-light-code: 45 90 61;
    --color-primary-dark-code: 15 40 23;
    --color-gold-code: 201 162 39;
    --color-gold-light-code: 230 197 86;
    --color-cream-code: 248 245 240;
    --color-paper-code: 255 254 249;
    --color-text-dark-code: 26 26 26;
    --color-text-muted-code: 90 90 90;
    --color-border-code: 212 207 197;
    --color-error-code: 192 57 43;
    --color-alert-code: 238 238 17;
    --color-success-code: 0 153 0;
    --tw-ring-color-code: 153 7 7;
    --shadow-color-code: 212 207 197;
}

/*
        primary: "var(--color-primary)",
        "primary-light": "var(--color-primary-light)",
        "primary-dark": "var(--color-primary-dark)",
        gold: "var(--color-gold)",
        "gold-light": "var(--color-gold-light)",
        cream: "var(--color-cream)",
        paper: "var(--color-paper)",
        error: "var(--color-error)",
        alert: "var(--color-alert)",
        success: "var(--color-success)"

*/