@tailwind utilities;

@layer utilities {
    .chess-bg{
        position: relative;
    }
    .chess-bg::before{
        content: '';
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        background: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 0L60 30L30 60L0 30z' fill='%23ffffff' fill-opacity='0.045'/%3E%3C/svg%3E");
        pointer-events: none;
    }

    .shadow-deep{
        box-shadow:rgba(0, 0, 0, 0.521) 0px 0px 50px 0.05px;
    }

    .bg-gold-light{
        background: radial-gradient(circle at top right, white -20%, var(--color-gold-light) 40%, var(--color-gold-light) 100%);
    }
    .bg-gold{
        background: radial-gradient(circle at top right, white -20%, var(--color-gold) 40%, var(--color-gold) 100%);
    }

    .badge-primary{
        background: radial-gradient(circle at top right, white -20%, var(--color-primary) 40%, var(--color-primary) 100%);
        color: var(--color-paper);
        border: 1px solid var(--color-primary);
        display: inline-block;
        padding: 2px 8px;
        border-radius: 5px;
    }
    .badge-gold{
        background: radial-gradient(circle at top right, white -100%, var(--color-gold) 40%, var(--color-gold) 100%);
        color: var(--color-paper);
        display: inline-block;
        padding: 2px 8px;
        border-radius: 55px;
    }
    .badge-gold-light{
        background: radial-gradient(circle at top right, white -100%, var(--color-gold-light) 40%, var(--color-gold-light) 100%);
        color: var(--color-primary);
        display: inline-block;
        padding: 2px 8px;
        border-radius: 55px;
    }
    .badge-cream{
        background: radial-gradient(circle at top right, white -100%, var(--color-gold-cream) 40%, var(--color-gold-cream) 100%);
        color: var(--color-primary);
        display: inline-block;
        padding: 2px 8px;
        border-radius: 55px;
    }
}